# Core libraries
streamlit
pillow
numpy

# Deep learning frameworks
torch
torchvision

# Computer vision and image processing
opencv-python

# NLP and text processing
tensorflow==2.16.2
transformers==4.44.2
pytesseract==0.3.13
# Data manipulation and visualization
pandas
matplotlib
